{% extends "users/admin_nav.html" %}

{% block title %}
    All Doctors
{% endblock %}

{% block content %}


        <!-- Main Content -->
        <div class="flex-1 p-6">

            <!-- All Appointments Table -->
            <div class="bg-white shadow-md rounded-lg p-4">
                <h3 class="text-gray-600 text-lg font-semibold mb-4">All Doctors</h3>
                <table class="w-full border-collapse">
                    <thead>
                        <tr>
                            <th class="border-b text-left py-2 px-4">#</th>
                            <th class="border-b text-left py-2 px-4">Photo</th>
                            <th class="border-b text-left py-2 px-4">Doctor Name</th>
                            <th class="border-b text-left py-2 px-4">Degree</th>
                            <th class="border-b text-left py-2 px-4">Speciality</th>
                            <th class="border-b text-left py-2 px-4">Fees ($)</th>
                            <th class="border-b text-left py-2 px-4">Email</th>
                            <th class="border-b text-left py-2 px-4">Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for doctor in doctors %}
                        <tr>
                            <td class="border-b py-2 px-4">{{ forloop.counter }}</td>
                            <td class="border-b py-2 px-4">
                                <img class="w-15 rounded-full hover:bg-blue-500 bg-gray-200" src="{{doctor.photo.url}}" alt="">
                            </td>
                            <td class="border-b py-2 px-4">{{ doctor.name }}</td>
                            <td class="border-b py-2 px-4">{{ doctor.degree }}</td>
                            <td class="border-b py-2 px-4">{{ doctor.speciality }}</td>
                            <td class="border-b py-2 px-4">{{ doctor.fees }}</td>
                            <td class="border-b py-2 px-4">{{ doctor.email }}</td>
                            <td class="border-b py-2 px-4">{{ doctor.address1 }} {{ doctor.address2 }}</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
        </div>
    

{% endblock %}
