{% extends "users/base.html" %}
{% load static %}

{% block title %}
    All Doctors
{% endblock %}

{% block content %}
<div class="p-4">
    <p class="text-gray-600 text-lg mb-4">Browse through the doctors specialist.</p>
    <div class="flex flex-col lg:flex-row items-start gap-5 mt-5">
        <!-- Speciality Filter -->
        <div class="flex flex-col gap-4 text-sm text-gray-600 w-full lg:w-auto">
            <a href="{% url 'all_doctors' 'General Physician' %}" class="w-full lg:w-auto px-3 py-2 border border-gray-300 rounded transition-all cursor-pointer hover:bg-gray-100">
                General Physician
            </a>
            <a href="{% url 'all_doctors' 'Gynecologist' %}" class="w-full lg:w-auto px-3 py-2 border border-gray-300 rounded transition-all cursor-pointer hover:bg-gray-100">
                Gynecologist
            </a>
            <a href="{% url 'all_doctors' 'Dermatologist' %}" class="w-full lg:w-auto px-3 py-2 border border-gray-300 rounded transition-all cursor-pointer hover:bg-gray-100">
                Dermatologist
            </a>
            <a href="{% url 'all_doctors' 'Paediatrician' %}" class="w-full lg:w-auto px-3 py-2 border border-gray-300 rounded transition-all cursor-pointer hover:bg-gray-100">
                Paediatrician
            </a>
            <a href="{% url 'all_doctors' 'Neurologist' %}" class="w-full lg:w-auto px-3 py-2 border border-gray-300 rounded transition-all cursor-pointer hover:bg-gray-100">
                Neurologist
            </a>
            <a href="{% url 'all_doctors' 'Gastroenterologists' %}" class="w-full lg:w-auto px-3 py-2 border border-gray-300 rounded transition-all cursor-pointer hover:bg-gray-100">
                Gastroenterologist
            </a>
        </div>

        <!-- Doctors Grid -->
        <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
            {% for doc in docs %}
            <a href="{% url 'book_appointment' slug=doc.slug %}" class="block">
                <div class="border rounded-xl overflow-hidden hover:shadow-lg transition-shadow duration-300">
                    <img src="{{ doc.photo.url }}" alt="Doctor Photo" class="w-full h-48 object-contain bg-gray-100">
                    <div class="flex items-center gap-2 text-sm text-center text-green-500 py-4 px-4">
                        <p class="w-2 h-2 rounded-full bg-green-500"></p>
                        <p>Available</p>
                    </div>
                    <p class="text-lg font-medium px-4">{{ doc.name }}</p>
                    <p class="text-sm px-4 mb-2 text-gray-600">{{ doc.speciality }}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
