{% extends "users/base.html" %}

{% block title %}
    Profile
{% endblock %}

{% block content %}
<div class="p-4 flex justify-center">
    <div class="w-full max-w-lg flex flex-col gap-4 text-sm bg-white shadow-lg border rounded-lg p-6">
        <!-- Profile Image and Username -->
        <div class="flex flex-col items-center">
            <img class="w-24 h-24 sm:w-36 sm:h-36 rounded-full object-cover" src="{{ request.user.profile.photo.url }}" alt="Profile Image">
            <p class="font-medium text-xl sm:text-3xl mt-4 text-gray-800">
                {{ request.user.username }}
            </p>
        </div>

        <hr class="bg-gray-300 h-px border-none my-4">

        <!-- Contact Information -->
        <div>
            <p class="text-gray-600 underline text-lg">Contact Information</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-3 mt-4">
                <p class="font-medium">Name:</p>
                <p class="text-blue-500">{{ request.user.get_full_name }}</p>
                <p class="font-medium">Email:</p>
                <p class="text-blue-500">{{ request.user.email }}</p>
                <p class="font-medium">Phone:</p>
                <p class="text-blue-500">{{ request.user.profile.phone }}</p>
                <p class="font-medium">Address:</p>
                <p class="text-gray-500">
                    {{ request.user.profile.address1 }} <br> {{ request.user.profile.address2 }}
                </p>
            </div>
        </div>

        <!-- Basic Information -->
        <div>
            <p class="text-gray-600 underline text-lg mt-6">Basic Information</p>
            <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-3 mt-4">
                <p class="font-medium">Gender:</p>
                <p class="text-blue-500">{{ request.user.profile.gender }}</p>
                <p class="font-medium">Age:</p>
                <p class="text-blue-500">{{ request.user.profile.age }} yrs</p>
            </div>
        </div>

        <!-- Edit Button -->
        <div class="flex justify-center mt-6">
            <a href="{% url 'edit_profile' %}" 
               class="border border-indigo-600 px-8 py-2 rounded-full text-indigo-600 hover:bg-indigo-600 hover:text-white transition-all">
                Edit
            </a>
        </div>
    </div>
</div>
{% endblock %}
